nav {
    background-color: var(--blue);
    color: white;
}

nav:first-child {
    /* Will there be another nav at the bottom? */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: white;
    gap: 20px;
}

nav .right {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 20px;
}

body {
    margin: 0;
}
main {
    margin: 8px;
}